@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<div class="text-center">
    <main>
        <section class="section-hero">
            <div class="hero">
                <div class="hero-text-box">
                    <p class="hero-description">
                        Eat tasty food that melts in your mouth and the best is that u get to make it yourself!
                    </p>
                </div>
                <div class="hero-img-box">
                    <img src="https://www.eatthis.com/wp-content/uploads/sites/4/2021/06/pasta-pizza.jpg?quality=82&strip=all.jpg"
                         class="hero-img"/>
                </div>
            </div>   
        </section>
        </main>
</div>

